S3method(print,blpSummary)
S3method(summary,blp)
export(estimateBLP)
export(get.BLP.dataset)
importFrom(Rcpp,sourceCpp)
importFrom(mvQuad,createNIGrid)
importFrom(mvQuad,getNodes)
importFrom(mvQuad,getWeights)
importFrom(mvQuad,rescale)
importFrom(numDeriv,hessian)
importFrom(randtoolbox,halton)
importFrom(stats,dnorm)
importFrom(stats,na.omit)
importFrom(stats,optim)
importFrom(stats,pchisq)
importFrom(stats,pnorm)
importFrom(stats,qnorm)
importFrom(stats,rnorm)
importFrom(stats,runif)
importFrom(ucminf,ucminf)
useDynLib(BLPestimatoR, .registration = TRUE)
